<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/common.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/table.css') }}">

        <meta charset="UTF-8">
        <title>Delete Anime</title>
        <style>
        </style>
    </head>
    <body>
        <div>
            <h1>Currently watching anime</h1>
        </div>

        <div id="menu">
            <form method="post" action="/delete-anime">
                <table>
                    <tr>
                        <th></th>
                        <th>Anime</th>
                    </tr>
                    {% for anime in all_anime %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ anime[1] }}</td>
                            <td><button name="anime-id" type="submit" value="{{ anime[0] }}">Delete</button></td>
                        </tr>

                    {% endfor %}
                </table>
            </form>

            {%  if success %}
            <p>Anime successfully deleted!</p>
            {% endif %}
            <br>
            <a href="/">< Back to main page</a>
        </div>
    </body>
</html>