<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    </head>
    <body>


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Anime Tracker</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% block navbar_active_index %}{% endblock %}">
                    <a class="nav-link" href="/">Home <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item {% block navbar_active_add %}{% endblock %}">
                    <a class="nav-link" href="add">Add Anime</a>
                </li>
            </ul>
        </div>
    </nav>


        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="align-items-center bg-light p-3 my-3 rounded shadow-sm">
                        <div class="row justify-content-center">
                            <h2>{% block banner_name %}{% endblock %}</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div id="container">
                {% block main %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>