{% extends "app/base.html" %}

{% block navbar_active_delete %}active{% endblock %}

{% block banner_name %}Delete anime{% endblock %}

{% block main %}

    {% if flag %}
        <div class="container-fluid">
            <form action="" method="post">      <!-- Action is set to "" so as to redirect to same page -->
                {% csrf_token %}
                <p>Are you sure you want to delete the following anime?</p>
                <div class="row">
                    <div class="col">
                        <h3>{{ anime_name }}</h3>
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-danger" name="delete_button" value="Submit">Delete</button>
                        <a href="/" class="btn btn-primary">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    {% endif %}

    {% if message %}
        <div class="row justify-content-center mt-5">
            <div class="col-">
                <div class="alert alert-primary">
                    {{ message }}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}