{% extends "app/base.html" %}

{% block navbar_active_update %}active{% endblock %}

{% block banner_name %}Update anime{% endblock %}

{% block main %}
    {% if flag %}
        <div class="row justify-content-center mt-5">
            <div>
                <div class="p-4 mt-3 bg-white rounded shadow-sm">
                    <form method="post" action="">  <!-- Action is set to "" so as to redirect to same page -->
                        {% csrf_token %}
                        <div class="form-group row">
                            <div class="col-sm-5">
                                <label class="col-form-label">Anime Name: </label>
                                <small class="form-text text-muted">(As in <a
                                        href="https://horriblesubs.info/">HorribleSubs</a>)</small>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" class="form-control {{ anime_name_check }}" name="anime-name"
                                       value="{{ anime_name }}" required disabled>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label">Current
                                Episode:</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control {{ current_episode_check }}"
                                       name="current-episode"
                                       value="{{ current_episode }}"
                                       required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Enter a number
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label">Total
                                Episodes:</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control {{ total_episode_check }}" name="total-episodes"
                                       value="{{ total_episodes }}" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Enter a number
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-dark">Update</button>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
    {% if message %}
        <div class="row justify-content-center mt-5">
            <div class="col-">
                <div class="alert alert-primary">
                    {{ message }}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}